extends layout

block scripts
  script(src='/javascripts/apps.js')

block page_name
  if onlineAccounts
    | Online Accounts
  else
    | Devices

block content
  if message
    div.alert.alert-success.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×

      p= message

  - for(var i = 0; i < devices.length; i += 3)
    div.row
      - for (var j = 0; j < 3; j ++)
        - if (i + j >= devices.length) break;
        - var dev = devices[i + j];
        div.col-md-4
          div.panel.panel-default
            div.panel-heading
              h2.panel-title= dev.name
            div.panel-body
              p= dev.description

              if !onlineAccounts
                if dev.available == 0
                  p The device is not available. It might be powered off or disconnected.
                else if dev.available == 1
                  p The device is available and working.
                else
                  p It was not possible to verify if the device is available.
                    | Please check it is powered on and correctly configured.
            div.panel-footer
              form.form-inline(action="/devices/delete?class=" + (onlineAccounts ? 'online' : 'physical'),method="post").form-delete-app
                input(type='hidden',name='id',value=dev.uniqueId)
                input(type='hidden',name='_csrf',value=csrfToken)
                button(type='submit').btn.btn-danger Delete

  p
    if onlineAccounts
      a(href='/devices/create?class=online', role='button').btn.btn-primary Add new account
    else
      a(href='/devices/create?class=physical', role='button').btn.btn-primary Configure new device