extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/status.css')

block page_name
  | Status

block content
  p Status of your ThingEngine: 
    if isRunning
      strong Running
    else
      strong Killed

  if isRunning
    form(action='/status/kill', method='post')
      input(type='hidden',name='_csrf',value=csrfToken)
      button(type='submit').btn.btn-danger Kill
  else
    form(action='/status/start', method='post')
      input(type='hidden',name='_csrf',value=csrfToken)
      button(type='submit').btn.btn-danger Start

  h2 Logs

  - var previous = undefined;
  div.log-view
    each l in log
      if l.THINGENGINE_PID !== previous && previous !== undefined
        p #{(new Date(l._SOURCE_REALTIME_TIMESTAMP/1000)).toLocaleString()}: 
          strong *** Restarted ***
        - previous = l.THINGENGINE_PID
      if l.PRIORITY <= 3
        p.text-danger #{(new Date(l._SOURCE_REALTIME_TIMESTAMP/1000)).toLocaleString()}: #{l.MESSAGE}
      else if l.PRIORITY == 4
        p.text-warning #{(new Date(l._SOURCE_REALTIME_TIMESTAMP/1000)).toLocaleString()}: #{l.MESSAGE}
      else
        p #{(new Date(l._SOURCE_REALTIME_TIMESTAMP/1000)).toLocaleString()}: #{l.MESSAGE}